
<style>

h1 {
  text-align : center;
  border-radius: 1px;
  }

  .container{ 
  margin-left: 520px;
  position: absolute;
  width:520px;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.bg_img{
  position: absolute;
  display: inline-block;
  height: auto;
  margin-left: 300px;
  margin-top: 30px;
  width: 1200px;
  -webkit-filter:blur(5px);
  -moz-filter: blur(3px); 
  -o-filter: blur(3px); 
  -ms-filter: blur(3px); 
  filter: blur(3px);
}

.field{text-align: center;}

.actions{text-align: center;}

.link_to{text-align: center;
  font-size: 100%;
  text-shadow: 0.07em 0.3em 0.9em #333;}

</style>


<h1>Editing Book</h1>

<br>
<%- if flash[:error].present? -%>
	<div style="text-align:center;color: white;padding:5px;background-color:red;margin-bottom:12px;" >
  <%= flash[:error]%>
  	</div>
<%- end -%>

<div class="bg_img">
  <%= image_tag("url.jpeg") %>
</div>

<div class="container">

<%= form_for(@book, url: user_book_path(@user, @book, method: :put)) do |f| %>
<div class="field"><br>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field"><br>
    <%= f.label :author %>
    <%= f.text_field :author %><br>
  </div>
  <div class="field"><br>
    <%= f.label :summary %>
    <%= f.text_area :summary %><br>
  </div>

  <div class="field"><br>
    <%= f.label :picture %>
    <%= f.text_field :picture %><br>
  </div><br>
  <div class="actions">
    <%= f.submit  %><br><br>
  </div>
<%- end -%>
<div class="link_to"><%= link_to 'Show', user_book_path(@user, @book) %>&nbsp&nbsp&nbsp
<%= link_to 'Back', :back %>
</div>
<br><br>
</div>
